@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@font-face {
  font-family: "Clancy";
  src: url("/fonts/Clancy-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Clancy";
  src: url("/fonts/Clancy-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Clancy";
  src: url("/fonts/Clancy-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}